@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: normal;
    color: #ffffff;
}

body{
    font-family: "Rubik", sans-serif;
    background-color: #5f2900;
    margin: 5%;
    line-height: 1.6;
}

main {
    max-width: 800px;
    margin: auto;
    padding: 20px;
    box-shadow: 0 0 10px rgba(20, 20, 20, 3);
}

header{
    text-align: center;
    color: #ffffff;
    text-shadow: 1px 1px 5px #800000 ;
    padding: 20px 0;
    border-radius: 8px 8px 0;
    background-image: url('./images/fondo.jpg');
    background-size: 100%;
    background-repeat: repeat;
}

header h1 {
    font-weight: bold;
    text-decoration: underline;
    font-size: 1.7em;
}

header h2 {
    font-style: oblique;
    font-size:  1.2em;
}

.container {
    margin: auto 5%;
    padding: 2%;
    position: relative;
    z-index: 1;
    border-radius: 5px;
    overflow: hidden;
}

#contenedor_foto_perfil img {
    width: 10em;
}

.cabecera h1 h2{
    position: relative;
    display: inline-block;
    vertical-align: center;
    text-shadow:  1px 2px 2px #000;;
}

h3 {
    font-size: 1.4em;
    margin-bottom: 3px;
}

.nombre_puesto
{ 
    margin: 20px 50px;
}

section {
    background-color: rgba(63, 63, 63, .7);
    padding: 15px;
    border-radius: 10px;
    margin: 30px 0px;
    box-shadow: 0 0 5px rgba(0, 0,  0, 0.1);

}

section h3 {
    background: #5f2900;
    color: #f38200;
    text-shadow:  1px 2px 2px #000;;
}

ul{
    color: #000;
    text-decoration: none;
    list-style-type: none;

}


#icon-habilidades {
    margin: 0;

}

span { margin-right: ;}